.bg-main{
    background-image: url(" https://d2clawv67efefq.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-size: cover;
    height: 750px;
    width: 450px;
    padding: 20px;
}
.bg-card{
    background-color: #000000e6;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    margin-bottom: 20px;
    color: #ffffff;
   

}
.bg-button{
    background-color:  #ffffff;
    border-radius: 10px;
    color: #000000e6;
    height: 40px;
    width:120px;
    margin-bottom: 10px;
    
    margin-left: 140px;
    border-width: 0px;
}
p{
font-family:Bree Serif ;
font-size: 20px;
}
h2{
 font-family: roboto;
}

h3{
    font-family: roboto;

}