.div{
    padding: 30px;
    border-width: 5px;
    border-color: rgb(48, 98, 109);
    border-style: solid;

}
.h1-main{
    font-family: roboto;
    color: #323f4b;
}
.p-main{
    font-family: roboto;
    font-size: 20px;
    color: #707070;
}
.img-2{
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.img{
    width: 150px;
    height: 150px;
    
}
.img-1{
    width: 200px;
    height: 180px;
   
}
.margin{
    margin-top: 20px;
    margin-bottom: 20px;
}
.bg-2{
    background-color: #0967d219;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    
}
.bg-3{
    background-color: #3ebd93;
   
}
.bg-4{
    background-color: #e668a7;
   
}
.bg-5{
    background-color: #a368fc;
}
.box{
     height:200px;
    width: 170px;
    border-radius: 10px;
    padding: 10px;
    color:white;
    margin: 10px;
    text-align: center;
}
.bg-6{
    background-color: #e12d3919;
    height: 250px;
    border-radius: 10px;
    padding: 25px;
}